.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.headerNav:global(.__wab_instance) {
  position: relative;
}
.box__ro2Of {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.box__vuSry {
  position: relative;
  align-self: center;
  height: auto;
  padding: 20px;
}
.box__srmpE {
  position: relative;
  align-self: center;
  height: auto;
  padding: 20px;
}
.box__rr4N {
  position: relative;
  align-self: center;
  height: auto;
  padding: 20px;
}
.box__ooRPx {
  position: relative;
  align-self: center;
  height: auto;
  padding: 20px;
}
.box__rMh2I {
  position: relative;
  align-self: center;
  height: auto;
  padding: 20px;
}
.footer:global(.__wab_instance) {
  position: relative;
}
