.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.headerNav:global(.__wab_instance) {
  position: relative;
}
.box__rnx3J {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 10px;
}
.box__js9Ov {
  width: 100%;
  font-size: 50px;
  text-align: center;
  height: auto;
  min-width: 0;
}
.box__aKsk9 {
  position: relative;
  width: 100%;
  font-size: 14px;
  text-align: center;
  height: auto;
  font-weight: 100;
  line-height: 1;
  font-style: italic;
  min-width: 0;
  padding: 10px;
  margin: 0px;
}
.box__gZzS8 {
  position: relative;
  width: 100%;
  font-size: 24px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 10px;
  margin: 0px;
}
.box__qDsqH {
  position: relative;
  width: 100%;
  font-size: 12px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 30px 10px;
  margin: 0px;
}
.box__qaIkn {
  position: relative;
  width: 100%;
  font-size: 24px;
  text-align: center;
  height: auto;
  font-style: italic;
  align-self: center;
  min-width: 0;
  padding: 0px 30px;
  margin: 0px;
}
.box__wcCAy {
  position: relative;
  width: 100%;
  font-size: 12px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 30px 10px;
  margin: 0px;
}
.box__rIs05 {
  position: relative;
  width: 100%;
  font-size: 48px;
  text-align: center;
  min-width: 0;
}
.box___0Jaeo {
  position: relative;
  width: 100%;
  font-size: 20px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 5px 40px;
  margin: 20px 0px 0px;
}
.box__qFbkx {
  position: relative;
  width: 100%;
  font-size: 64px;
  text-align: center;
  height: auto;
  line-height: 1;
  min-width: 0;
  padding: 5px 40px;
  margin: 5px 0px;
}
.box__iaTW {
  position: relative;
  width: 100%;
  font-size: 20px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 10px 40px 5px;
  margin: 5px 0px;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  align-self: center;
  max-height: 476px;
  min-width: 0;
  min-height: 0;
}
.box__u4F4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin: 20px 0px;
}
.box__lOzVx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.box___7Z5Bs {
  width: 100%;
  font-size: 45px;
  text-align: center;
  height: auto;
  align-self: center;
  min-width: 0;
  padding: 10px;
}
.box__wpHkY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.box__nCrHk {
  width: 100%;
  font-size: 16px;
  text-align: left;
  height: auto;
  min-width: 0;
  padding: 10px;
}
.box__rZoVh {
  width: 100%;
  font-size: 16px;
  text-align: left;
  height: auto;
  min-width: 0;
  padding: 10px;
}
.box__yfYyz {
  width: 100%;
  font-size: 16px;
  text-align: left;
  height: auto;
  min-width: 0;
  padding: 10px;
}
.box__s9Vlx {
  width: 100%;
  font-size: 16px;
  text-align: left;
  height: auto;
  min-width: 0;
  padding: 10px;
}
.box__rTiy {
  position: relative;
  width: 100%;
  font-size: 16px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 10px 30px;
  margin: 20px 0px 0px;
}
.box___4Diln {
  position: relative;
  width: 100%;
  font-size: 20px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 5px 40px;
  margin: 20px 0px 0px;
}
.box__oj4RL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  margin: 0px;
  border-width: 2px;
}
.box__nAd6Z {
  width: 100%;
  font-size: 20px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 5px 40px;
}
.box___54RT {
  position: relative;
  width: 100%;
  font-size: 16px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 10px 30px;
  margin: 0px;
}
.box___3Mz8P {
  position: relative;
  width: 100%;
  font-size: 16px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 10px 30px 0px;
  margin: 0px;
}
.box__vstYq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  align-self: center;
  padding-top: 10px;
  min-width: 0;
  margin: 0px 40px 40px;
  border-width: 2px;
}
.box__vstYq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.box__vstYq > :global(.__wab_flex-container) > *,
.box__vstYq > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 10px;
}
.box__uxzTc {
  display: flex;
  flex-direction: row;
}
.box__uxzTc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.box__uxzTc > :global(.__wab_flex-container) > *,
.box__uxzTc > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.link__o9Omp {
  display: flex;
  flex-direction: row;
}
.box__yy9U {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__yy9U > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.box__yy9U > :global(.__wab_flex-container) > *,
.box__yy9U > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.box___5DWuz {
  position: relative;
}
.box__ctr0F {
  display: flex;
  flex-direction: row;
}
.box__ctr0F > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.box__ctr0F > :global(.__wab_flex-container) > *,
.box__ctr0F > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.box__pBZe {
  position: relative;
}
.box__c842Q {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  margin: 0px;
  border-width: 2px;
}
.box__oSTqX {
  width: 100%;
  font-size: 20px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 5px 40px;
}
.box__nRpeE {
  position: relative;
  width: 100%;
  font-size: 16px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 10px 30px;
  margin: 0px;
}
.box__kw0X8 {
  position: relative;
  width: 100%;
  font-size: 16px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 10px 30px 0px;
  margin: 0px;
}
.box__bvNtE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  align-self: center;
  padding-top: 10px;
  min-width: 0;
  margin: 0px 40px 40px;
  border-width: 2px;
}
.box__bvNtE > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.box__bvNtE > :global(.__wab_flex-container) > *,
.box__bvNtE > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 10px;
}
.box__vAf5B {
  display: flex;
  flex-direction: row;
}
.box__vAf5B > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.box__vAf5B > :global(.__wab_flex-container) > *,
.box__vAf5B > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.box__fm6Ew {
  position: relative;
  height: auto;
}
.box__mGrXg {
  display: flex;
  flex-direction: row;
}
.box__mGrXg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.box__mGrXg > :global(.__wab_flex-container) > *,
.box__mGrXg > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.box___2TIbL {
  position: relative;
}
.box__zshJ6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  margin: 0px;
  border-width: 2px;
}
.box__ooPLo {
  width: 100%;
  font-size: 20px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 5px 40px;
}
.box__xLVp {
  position: relative;
  width: 100%;
  font-size: 16px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 10px 60px;
  margin: 0px;
}
.box___25Pz {
  position: relative;
  width: 100%;
  font-size: 16px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 10px 30px 0px;
  margin: 0px;
}
.box__sZoiu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  align-self: center;
  padding-top: 10px;
  min-width: 0;
  margin: 0px 40px 40px;
  border-width: 2px;
}
.box__sZoiu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.box__sZoiu > :global(.__wab_flex-container) > *,
.box__sZoiu > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 10px;
}
.box___4Rtfb {
  display: flex;
  flex-direction: row;
}
.box___4Rtfb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.box___4Rtfb > :global(.__wab_flex-container) > *,
.box___4Rtfb > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.box__g8Cjw {
  position: relative;
  height: auto;
}
.box__sWmaF {
  display: flex;
  flex-direction: row;
}
.box__sWmaF > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.box__sWmaF > :global(.__wab_flex-container) > *,
.box__sWmaF > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.box___8Pew {
  position: relative;
}
.box___8DbFj {
  width: 100%;
  font-size: 55px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 0;
}
.box__iv7Qz {
  position: relative;
  width: 100%;
  font-size: 12px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 30px 10px;
  margin: 0px;
}
.box__mrXE {
  position: relative;
  width: 100%;
  font-size: 20px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 10px 60px 5px;
  margin: 0px 0px 20px;
}
.link__edrGr {
  position: relative;
  width: 100%;
  text-align: center;
  color: #000000;
  text-decoration-line: none;
  font-size: 32px;
  min-width: 0;
  padding: 5px 20px 20px;
}
.footer:global(.__wab_instance) {
  position: relative;
}
