.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.headerNav:global(.__wab_instance) {
  position: relative;
}
.box__rnx3J {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 10px;
}
.box__js9Ov {
  width: 100%;
  font-size: 55px;
  text-align: center;
  min-width: 0;
}
.box__aKsk9 {
  position: relative;
  width: 100%;
  font-size: 16px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 10px;
  margin: 0px;
}
.box__gZzS8 {
  position: relative;
  width: 100%;
  font-size: 32px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 10px;
  margin: 0px;
}
.box__qDsqH {
  position: relative;
  width: 100%;
  font-size: 16px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 10px;
  margin: 0px;
}
.box__qaIkn {
  position: relative;
  width: 100%;
  font-size: 24px;
  text-align: center;
  height: auto;
  font-style: italic;
  min-width: 0;
  padding: 10px;
  margin: 0px;
}
.box__rIs05 {
  position: relative;
  width: 100%;
  font-size: 48px;
  text-align: center;
  min-width: 0;
}
.box___0Jaeo {
  position: relative;
  width: 100%;
  font-size: 16px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 10px;
  margin: 20px 0px;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  align-self: center;
  max-height: 476px;
  min-width: 0;
  min-height: 0;
}
.box__u4F4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin: 20px 0px;
}
.box__lOzVx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.box___7Z5Bs {
  width: 100%;
  font-size: 16px;
  text-align: right;
  height: auto;
  align-self: center;
  min-width: 0;
  padding: 10px;
}
.box__wpHkY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.box__nCrHk {
  width: 100%;
  font-size: 16px;
  text-align: left;
  height: auto;
  min-width: 0;
  padding: 10px;
}
.box__rZoVh {
  width: 100%;
  font-size: 16px;
  text-align: left;
  height: auto;
  min-width: 0;
  padding: 10px;
}
.box__yfYyz {
  width: 100%;
  font-size: 16px;
  text-align: left;
  height: auto;
  min-width: 0;
  padding: 10px;
}
.box__s9Vlx {
  width: 100%;
  font-size: 16px;
  text-align: left;
  height: auto;
  min-width: 0;
  padding: 10px;
}
.box__rTiy {
  position: relative;
  width: 100%;
  font-size: 16px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 10px;
  margin: 20px 0px;
}
.box___8DbFj {
  width: 100%;
  font-size: 55px;
  text-align: center;
  min-width: 0;
}
.box__mrXE {
  position: relative;
  width: 100%;
  font-size: 16px;
  text-align: center;
  height: auto;
  min-width: 0;
  padding: 10px;
  margin: 20px 0px;
}
.link {
  position: relative;
  width: 100%;
  text-align: center;
  min-width: 0;
  padding: 20px;
}
.footer:global(.__wab_instance) {
  position: relative;
}
